{{> navbar}}
<br/>

<h1 class="text-center">Datos de sesión</h1>
<div class="container mt-5 d-flex justify-content-between">
<div class="d-flex justify-content-between flex-column">
          <p>ID: {{user.id}}</p>
           <p>Usuario: {{user.username}}</p>
           <p>Nombre: {{user.nombre}}</p>
           <p>Dirección: {{user.direccion}}</p>
           <p>Edad: {{user.edad}}</p>
           <p>Teléfono: {{user.telefono}}</p>
           <p>Imagen: <img src={{user.avatar}} alt="Avatar" style="height:150px; width:200px;margin-left:50px;"></p> 
           
</div>
<div class="d-flex flex-column justify-content-between">
  <h2>Carrito</h2>
  {{#each productosCarrito}}
  <div class="d-flex mb-3 ">
  <p class="bg bg-info p-3">Producto: {{this.title}} / Precio: ${{this.price}}</p>
  <button class="btn btn-primary h-75 ms-2" onclick="deleteProductCarrito('{{this._id}}')">Borrar</button>
  </div>
  {{/each}}
  <form action="/api/carrito" method="post">   
    <button class="btn btn-primary mx-auto d-block mt-5">Confirmar compra</button>
  </form>
</div>
</div>
<form action="/api/usuarios/logout" method="post">   
    <button class="btn btn-primary mx-auto d-block mt-5">Cerrar sesión</button>
  </form>
<br/>
{{> footer}}
<br/>

<script>
  function deleteProductCarrito(id){
    fetch(`http://localhost:8080/api/carrito/producto` + `/${id}`,{
          method:"DELETE"
        }).then(()=>location.reload() )
        
  }
</script>