html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')  
    title="Server con Pug"

  body
    ul(class="list-unstyled pt-3")
      li
        a(class="mx-5 " href="/")="Formulario"
        a(class="mx-5" href="/productos")="Productos"
    

    form(class="container d-flex flex-column" action="/productos" method="POST" enctype="multipart/form-data")
      label(for="title")="Título"
      input(type="text" name="title")
      br
      label(for="price")="Precio"
      input(type="number" name="price")
      br
      label(for="thumbnail")="Thumbnail"
      input(type="file" name="thumbnail")
      br
      input(type="submit" value="Agregar producto")
      br

    p(class='bg-dark text-white text-center fixed-bottom')="*Sitio desarrollado por Lucas Sansberro para el curso de Backend en Coderhouse."